:root {
  --black: #1a1a1a;
  --gray: #a1a1a1;
  --white: #F5F5F5;
}

.book-card {
  width: 180px;
  height: 400px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 4px;
  position: relative;
}

.on-loan-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: var(--white);
  padding: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10;
  border-radius: 4px 4px 0 0;
}


.book-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.book-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;
  margin-top: 10px;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.book-title {
  font-size: 1rem;
  margin: 5px 0;
  font-weight: bold;
}

.book-subtitle{
  font-size: 0.7rem;
  margin: 0;
}

.book-price{
  font-size: 0.7rem;
  margin: 0;
}

.learn-more {
  background-color: var(--black);
  color: var(--gray);
  text-decoration: none;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.book-card.selected{
  outline: 2px solid orange;
}