.book-card {
  width: 180px;
  height: 400px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  position: relative;
  }


.book-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.book-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;
  margin-top: 10px;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.book-title {
  font-size: 1rem;
  margin: 5px 0;
  font-weight: bold;
}

.book-subtitle{
  font-size: 0.7rem;
  margin: 0;
}

.book-price{
  font-size: 0.7rem;
  margin: 0;
}

.learn-more {
  background-color: #272727;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3f3f3f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
  padding: 4px 8px;
}

.book-card.selected{
  outline: 2px solid tomato;
}

.remove-btn.under-placeholder{
  margin-top: 8px;
  display: inline-block;
}